
body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background: rgb(241, 195, 16);
    background: linear-gradient(0deg, rgba(241, 195, 16, 1) 0%, rgba(202, 73, 178, 1) 50%, rgba(241, 195, 16, 1) 100%);
  }
  
  .head_sect_1,
  .head_sect_2,
  .main_sect_1 {
    width: 80%;
    margin: 0 auto;
  }
  
  .head_sect_1 h1,
  .head_sect_2 h2 {
    color: #fff;
  }
  
  .head_sect_1 h1 {
    width: 750px;
    font-size: 4.5rem;
  }
  
  .about_nick {
    background-color: #f1c50e;
    width: 420px;
    height: auto;
    display: flex;
    gap: 30px;
    padding: 20px 10px;
    margin: 0 40px 0 auto;
  }
  
  .about_nick img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    object-fit: cover;
  }
  
  .head_sect_2 {
    display: flex;
    flex-direction: row;
  }
  
  .sect_2_details {
    margin: 150px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .cube {
    width: 50px;
    height: 50px;
    background-color: #fff;
  }
  
  .details_1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .details_1 p {
    color: #fff;
  }
  
  .details_1 div button {
    width: 162px;
    height: 45px;
    border-radius: 0;
    border: none;
    font-family: "calibri", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
  }
  
  .main_sect_1_details {
    display: flex;
  }
  
  .person_photo img {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    object-fit: cover;
  }